@import "../../index.scss";

.HomeDesktop {
    margin: 10vh 5vw;

    @include colorTransition($white, $primary, $black, $text);

    &.dark {
        h1 {
            span {
                -webkit-text-stroke-color: $text;
            }
        }

        p {
            .aboutBtn {
                border: 1px solid $text;
            }
        }
    }

    h1 {
        font-size: 76px;
        letter-spacing: -3px;
        line-height: 5rem;

        span {
            font-family: Arial, Helvetica, sans-serif;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: $black;
        }
    }

    p {
        font-size: 17px;

        .aboutBtn {
            text-decoration: none;
            border: 1px solid $black;
            padding: 0.25rem;
        }
    }
}

.HomeMobile {
    margin: 30% 1rem;

    @include colorTransition($white, $primary, $black, $text);

    &.dark {
        h1 {
            span {
                -webkit-text-stroke-color: $text;
            }
        }

        p {
            .aboutBtn {
                border: 1px solid $text;
            }
        }
    }

    h1 {
        font-size: 63px;
        letter-spacing: -3px;

        span {
            font-family: Arial, Helvetica, sans-serif;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: $black;
        }
    }

    p {
        font-size: 17px;

        .aboutBtn {
            text-decoration: none;
            border: 1px solid $black;
            padding: 0.25rem;
        }
    }
}
