@import '../../index.scss';

.Footer {
  background-color: $primary;
  padding: 3%;
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  align-items: end;

  small {
    color: $text;
  }
}
