@import "../../index.scss";

.Nav {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary;
    padding: 1rem 2rem;
    border: 2px solid black;
    border-radius: 10rem;

    @include colorTransition($white, $primary, $black, $text);

    &.dark {
        border: 2px solid $text;

        #toggle {
            background-color: $text;
        }
    }

    svg {
        width: 50px;
    }

    .routes {
        display: flex;
        align-items: center;
    }

    a {
        text-decoration: none;
    }

    .wrapper {
        padding: 1rem;
    }

    #toggle {
        width: 50px;
        display: flex;
        padding: 5px;
        background-color: $black;
        display: block;
        border-radius: 1000px;
        cursor: pointer;
        box-shadow: 0px 5px 20px -10px #000000;
        transition: background-color 0.2s ease-in;

        .toggle-inner {
            width: 20px;
            height: 15px;
            background-color: $black;
            border-radius: 1000px;
            transition: margin-left 0.2s ease-in, background-color 0.2s ease-in;

            &.toggle-active {
                margin-left: 20px;
                background-color: $white;
            }
        }
    }
}

.NavMobile {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary;
    padding: 1rem 2rem;
    margin: 2rem 0;

    @include colorTransition($white, $primary, $black, $text);

    svg {
        width: 50px;
    }

    .routes {
        display: flex;
        align-items: center;
    }

    a {
        text-decoration: none;
    }

    .wrapper {
        padding: 0.5rem;
    }

    #toggle {
        display: none;
    }
}
