@import '../../index.scss';

.Nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: $primary;
  padding-top: 2px;

  img {
    width: 50px;
  }

  .routes {
    display: flex;
    align-items: center;
  }

  a {
    color: $text;
    text-decoration: none;
  }
}
